.search-form {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.3em 1em 1em;
    margin: 2em 0 2em 2.5em;
}
.search-form input {
    width: 20em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 2em;
    font-weight: lighter;
    font-family: 'Quicksand', open-sans;
    text-align: left;
}
.input-container {
    position: relative;
}
.search-icon {
    top: 0.5em;
    position: absolute;
    right: 1em;
    cursor: pointer;
}
.search-result {
    font-weight: lighter;
    font-family: 'Quicksand', open-sans;
    text-align: center;
}
.add-btn-container {
    padding: 1;
    cursor: pointer;
    color: var(--font-color);
    font-size: 2.2em;
}
