.search-form {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin: 2em 0 2em 2.5em;
}
.search-form input {
    width: 20em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 2em;
    font-weight: lighter;
    font-family: 'Quicksand', open-sans;
    text-align: left;
}
.input-container {
    position: relative;
}
.search-icon {
    top: 0.5em;
    position: absolute;
    right: 1em;
}
.search-result {
    font-weight: lighter;
    font-family: 'Quicksand', open-sans;
    text-align: center;
}
