.container-landingpage {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: #1b0e0e;
}
.landingPage-img-container {
    width: 40em;
    border-radius: 2em;
    margin-top: 2em;
}
.landingPage-img-container img {
    width: 100%;
    border-radius: 2em;
    border: 1px solid var(--font-color);
}
.landingPage-content {
    color: white;
}
.cutest {
    color: var(--font-color);
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
}
.landingPage-error {
    color: white;
}
.gallerypage-error {
    margin: 2em;
}
.tournament-error {
    margin: 2em;
}