nav {
    background: #eee;
    width: 100%;
}
.navbar-container {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: .2em;
}
.navbar-items {
    display: flex;
    text-align: center;
    margin-left: auto;
}
.navbar-items a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin-left: 2em;
    margin-right: 1em;
}
.navbar-items a:hover, a:visited {
    color: var(--nav-font-color);
    border-bottom: 3px solid var(--nav-font-color);
    padding-bottom: .5em;
}
.navbar-items a:active {
    border-bottom: 3px solid var(--nav-font-color);
    padding-bottom: .5em;
    font-weight: bold;
}
.icons {
    font-size: 2em;
}
.logo img {
    width: 3em;
}
.mobile-icon {
    display: none;
}
@media screen and (max-width: 768px){
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3em;
    }
    .navbar-items {
        display: none;
    }
    .mobile-icon {
        display: flex;
        font-size: 1.8rem;
        cursor: pointer;
        color: var(--nav-font-color);
        margin-left: auto;
    }
    .logo img {
        display: flex;
        width: 1.7em;
    }
}
.sidebar-container {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgb(13, 13, 13,0.1);
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
}
.sidebar-container.active {
    display: none;
}
