.tournament-container {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.rival-container {
    display: flex;
    justify-content: center;
    position: relative;
}
.tournament-icon {
    font-size: 2.8em;
    color: var(--font-color);
    position: absolute;
    top: 40%;
}
.contestants {
    height: 22em;
    width: 22em;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1em 3em;
}
.contestants:hover {
    border-radius: .5em;
    box-shadow: 4px 2px 2px rgba(0,0,0,.1);
}
.contestants-img-container {
    margin: 2em;
    width: 20em;
    height: 20em;
}
.contestants-img-container img {
    border-radius: .5em;
    float: left; 
    width: 100%; 
    height: 80%; 
    object-fit: cover;
/* 
    width: 12rem;
    height: 10rem;
    object-fit: cover; */
}
.contestants p, .para p {
    font-family: var(--font-Quick);
    font-size: 1.2em;
    text-align: center;
}
.para {
    margin-top: 2em
}
.italic {
    /* font-style: italic; */
    letter-spacing: .29em;
    font-weight: bolder;
    color: var(--font-color);
    text-align: center;
}
.cutest {
    /* font-style: italic; */
    letter-spacing: .29em;
    font-family: var(--font-Quick);
    color: var(--font-color);
    text-align: center;
}
.stats-winner {
    position: absolute;
    padding: 1em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    font-weight: lighter;
    left: -100px;
    background: rgb(204 154 16 / 50%);
    animation: slide-left 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}
.stats-loser {
    position: absolute;
    padding: 1em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    font-weight: lighter;
    right: -100px;
    background: rgb(204 154 16 / 50%);
    animation: slide-right 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide-right {
    100% { right: 0; }
}

@keyframes slide-right {
    100% { right: 0; }
}