.gallery-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    position: absolute;
    border-radius: .2em;
}
.card-figure-container {
    opacity: .5;
    height: 100%;
    width: 100%;
    border-radius: .2em;
    overflow: hidden;
    position: relative;
}
.hamster-info-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamster-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2em;
    font-family: var(--font-Quick);
    font-size: 1.2em;
    color: white
}