.gallery-overlay {
    height: 40em;
    width: 40em;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
.card-figure-container {
    opacity: 1;
    background-color: beige;
    height: 20em;
    width: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}